* {
  padding: 0;
  margin: 0; }

.main {
  margin: 0 auto;
  position: relative;
  width: 1000px;
  font-family: sans-serif; }

.title-parametre {
  font-size: 20px;
  display: block;
  text-align: center; }

.search__block__result__costs-info {
  display: block;
  float: left;
  margin-left: 50px;
  color: #8f431e;
  padding: 10px;
  font-style: italic; }

.search__block__result-title {
  text-align: center;
  font-weight: bold;
  font-size: 12px; }

sup {
  top: -.5em; }

sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

.search__block__area {
  float: left;
  width: 650px;
  border: 1px solid red;
  margin-top: 10px;
  margin-left: 50px;
  box-shadow: 4px 4px 5px grey; }

.search__block__flat {
  float: left;
  width: 650px;
  height: 170px;
  border: 1px solid red;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px grey; }

.search__block__flat-type-calc-desc {
  margin: 10px;
  margin-left: 60px;
  font-size: 12px; }
  .search__block__flat-type-calc-desc p {
    font-style: italic;
    color: #7e7d89;
    text-shadow: 3px 3px 4px #b2b2b3; }

.search__block__type-fuel {
  float: right;
  border: 1px solid red;
  margin-top: 10px;
  margin-right: 50px;
  width: 234px;
  box-shadow: 4px 4px 5px grey; }

.search__block__area-header,
.search__block__type-fuel-header,
.search__block__flat-header {
  height: 25px;
  background: linear-gradient(#fa2525, #e69494);
  padding: 5px;
  color: white;
  font-family: Calibri, sans-serif;
  text-shadow: 3px 3px 4px #ceb7bd; }

.search__block__area-body {
  padding: 10px; }

.search__block__flat-type,
.search__block__flat-type-floor {
  margin: 0 auto; }

.search__block__flat-type,
.search__block__flat-type-floor {
  margin: 5px;
  margin-left: 60px; }
  .search__block__flat-type li,
  .search__block__flat-type-floor li {
    display: inline-block;
    cursor: pointer;
    list-style: none; }

.search__block__type-fuel-type li {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 5px;
  list-style: none;
  overflow: hidden;
  margin: 2px;
  border: 1px solid blue;
  float: left; }

.search__block__area-checkbox {
  clear: both; }
  .search__block__area-checkbox input {
    padding: 10px;
    cursor: pointer; }
  .search__block__area-checkbox label {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    text-shadow: 3px 3px 4px #9b999f;
    color: #2823f5; }

.search__block__result-boiler-card {
  float: left;
  margin: 10px; }
  .search__block__result-boiler-card span {
    display: block; }

.search__block__result-boiler {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #2823f5;
  margin-top: 20px;
  box-shadow: 4px 4px 5px #9593fb; }
  .search__block__result-boiler li {
    list-style: none;
    margin: 10px; }
    .search__block__result-boiler li a {
      text-decoration: none; }
  .search__block__result-boiler h5 {
    text-shadow: 3px 3px 4px #9b999f;
    padding: 5px;
    text-align: center;
    color: #3f3d78; }

.search__block__result-boiler-card-capacity {
  text-shadow: 3px 3px 4px #9b999f;
  padding: 5px;
  text-align: center;
  color: #3f3d78;
  font-size: 12px; }

h4 {
  margin-top: 50px;
  margin-left: 30px;
  padding: 20px;
  text-shadow: 3px 3px 4px #9b999f; }

.commonRange {
  clear: both;
  width: 40%;
  margin: 0 auto;
  padding: 20px; }

table {
  border: 1px solid #bb0333;
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 4px 4px 5px grey;
  text-shadow: 3px 3px 4px #9b999f; }
  table thead {
    background-color: rgba(165, 162, 177, 0.5); }
  table input {
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 0px;
    border-bottom: 0.5px solid #bb0333; }

td {
  padding: 5px;
  text-align: center;
  border: 1px solid #bb0333; }

tr {
  border: 1px solid #bb0333; }

.search__block__result-boiler-error {
  width: 300px;
  padding: 10px;
  background-color: blue;
  margin: 0 auto;
  box-shadow: 4px 4px 5px grey; }
  .search__block__result-boiler-error span {
    color: white; }

[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 100%; }
  [type=range]:focus {
    outline: none; }
  [type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
    background: #424242;
    border: 1px solid #000;
    border-radius: 5px; }
  [type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
    border: 1px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background: #555bc8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px; }
  [type=range]:focus::-webkit-slider-runnable-track {
    background: #4f4f4f; }
  [type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
    background: #424242;
    border: 1px solid #000;
    border-radius: 5px; }
  [type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
    border: 1px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background: #555bc8;
    cursor: pointer; }
  [type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: all .2s ease;
    background: transparent;
    border-color: transparent;
    border-width: 30px 0;
    color: transparent; }
  [type=range]::-ms-fill-lower {
    box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
    background: #353535;
    border: 1px solid #000;
    border-radius: 10px; }
  [type=range]::-ms-fill-upper {
    box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
    background: #424242;
    border: 1px solid #000;
    border-radius: 10px; }
  [type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
    border: 1px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background: #555bc8;
    cursor: pointer; }
  [type=range]:focus::-ms-fill-lower {
    background: #424242; }
  [type=range]:focus::-ms-fill-upper {
    background: #4f4f4f; }

.fuel-selector input {
  display: none; }

.wood {
  background-image: url(../img/wood_choiced.jpg); }

.pelleta {
  background-image: url(../img/pellet_choiced.jpg); }

.fuel-selector input[type=checkbox] + .fuel-type {
  opacity: 0.9; }

.fuel-selector input[type=checkbox]:checked + .fuel-type {
  opacity: 1; }

.fuel-type {
  cursor: pointer;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px; }

.fuel-type:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.5);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.5);
  filter: brightness(1.2) grayscale(0.5) opacity(0.5); }
