 <!doctype html>
    <html>
<head>
  <link rel="stylesheet" href="styles/style.css" >
	<script	src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body ng-app="app">
	<div class="main" ng-controller="mainCtrl">
		<div class="search__block">
			<div class="search__block__area">
				<div class="search__block__area-header">
					<span>Отапливаемая площадь: </span>
				</div>
				<div class="search__block__area-body">
					<div>
						<input type="range" min="25" max="6000" value="100" ng-model="squareMetr">
            <span class="title-parametre">{{squareMetr}} м<sup>2</sup></span>
					</div>
          <div class="search__block__area-checkbox">
    				<input type="checkbox" id="show-result" ng-click="searchBoiler()" ng-model="checkboxModel.value">
            <label for="show-result">
              Показывать котлы согласно выбранной площади
            </label>
    			</div>
				</div>
			</div>
      <div class="search__block__type-fuel">
				<div class="search__block__type-fuel-header">
					<span>Вид топлива:</span>
				</div>
				<div class="search__block__type-fuel-body">
					<ul class="search__block__type-fuel-type fuel-selector">
            <li ng-repeat="fuelType in nameFuelType">
              <label class="fuel-type {{fuelType}}" for="{{fuelType}}"></label>
              <input id="{{fuelType}}" ng-click="hidePosition()" type="checkbox" value="{{fuelType}}">
            </li>
					</ul>
				</div>
			</div>
			<div class="search__block__flat">
				<div class="search__block__flat-header">
					<span>Утепленность помещения:</span>
				</div>
				<div class="search__block__flat-body">
          <ul class="search__block__flat-type-floor">
              <li>
                  <input type="radio" id="radio1" ng-model="flatFloorBlock.name" name="radio-floor" value="oneFloor" ng-click="updateWarmed()">
                  <label for="radio1">
                    1 этаж
                  </label>
              </li>
              <li>
                  <input type="radio" id="radio2" ng-model="flatFloorBlock.name" name="radio-floor" value="twoFloor" ng-click="updateWarmed()">
                  <label for="radio2">
                    2 этажа
                  </label>
              </li>
					</ul>
					<ul class="search__block__flat-type">
            <li>
              <input type="radio" id="radio3" ng-model="flatBlock.name" name="radio" value="not-warmed" ng-click="updateWarmed()">
              <label for="radio3">
                Неутепленный
              </label>
            </li>
            <li>
              <input type="radio" id="radio4" ng-model="flatBlock.name" name="radio" value="warmed" ng-click="updateWarmed()">
              <label for="radio4">
                Утепленный
              </label>
            </li>
            <li>
              <input type="radio" id="radio5" ng-model="flatBlock.name" name="radio" value="modern" ng-click="updateWarmed()">
              <label for="radio5">
                Современный
              </label>
            </li>
					</ul>
          <div class="search__block__flat-type-calc-desc">
            <p id="quality1rdesc">
               Стена - кирпичная кладка 400<br> Перекрытие - деревянные балки с саманом или ЖБ плита с засыпкой керамзитом 150 мм
             </p>
            <p id="quality2rdesc">
               Стена утеплена пенопластом 50 мм<br> Перекрытие минплитой 100 мм
             </p>
            <p id="quality3rdesc">
               Стена - газобетон 300 мм + пенопласт 50 мм<br> Перекрытие - ЖБ плита + минплита 250 мм
             </p>
          </div>
				</div>
			</div>
			<div class="search__block__result">
				<div class="search__block__result__costs-home">
          <span class="search__block__result__costs-info">
            Все результаты расчета являются ОРИЕНТИРОВОЧНЫМИ.
          </span>
					<table class="search__block__result__costs" cellspacing="0">
						<thead>
							<tr>
								<td>Вид топлива</td>
								<td>Стоимость</td>
								<td>Расход за сезон</td>
								<td>Стоимость за сезон</td>
							</tr>
						</thead>
						<tr ng-repeat="value in valueFuel">
							<td style="text-align: left">{{value[0]}}</td>
							<td><input type="number" value="" ng-model="value[1]"> грн</td>
							<td ng-model="value[2]">{{value[2] * squareMetr / 25 | number:1}} {{value[6]}}</td>
							<td>{{value[1] * value[2] * squareMetr / 25 | number:1 | currencyUAH}}</td>
						</tr>
					</table>
          <div class="search__block__result-boiler">
            <h5>Котлы согласно выбранной площади:</h5>
            <ul>
              <li ng-repeat="boiler in resultBoiler | capacityBoiler: squareMetr: tempVariable">
                <div class="search__block__result-boiler-card" ng-if="boiler != 'not found'">
                  <a href="{{boiler.link}}">
                    <h5>{{boiler.name}}</h5>
                  </a>
                  <a href="{{boiler.link}}">
                    <img src="{{boiler.image}}" width="200" alt="">
                  </a>
                  <span class="search__block__result-boiler-card-capacity">Мощность: {{boiler.capacity}}</span>
                </div>
                <div ng-if="boiler == 'not found'" class="search__block__result-boiler-error">
                  <span class="search__block__result-boiler-error-choice-fuel">
                    Выберите, пожалуйста,  вид топлива.
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <h4>НЕЖИЛОЙ ФОНД: ПЕРЕХОД ОТ ТЕПЛОСЕТИ НА АВТОНОМНОЕ ТЕПЛОСНАБЖЕНИЕ</h4>
          <div class="search__block__result-title">
            Ваш текущий расход тепла от теплосети за сезон:
          </div>
          <div class="commonRange">
            <input type="range" min="20" max="2000" step="10" value="20" ng-model="energyAutonomous" width="500px">
            <span class="title-parametre">
              {{energyAutonomous | autonom}}
            </span>
          </div>
          <table class="search__block__result__autonomous-heat" cellspacing="0">
						<thead>
							<tr>
								<td>Вид топлива</td>
								<td>Стоимость</td>
								<td>Расход за сезон</td>
								<td>Стоимость за сезон</td>
								<td>Экономия за сезон</td>
							</tr>
						</thead>
						<tr>
							<td style="text-align: left">Теплосети</td>
							<td></td>
							<td ng-model="costs">{{energyAutonomous}} Гкал</td>
							<td ng-model="costsValue">{{energyAutonomous * energyAutonomousCost | number:1 | currencyUAH}}</td>
							<td>-</td>
						</tr>
						<tr ng-repeat="auton in valueFuel">
							<td style="text-align: left">{{auton[0]}}</td>
							<td><input type="number" value="" ng-model="auton[1]"> грн</td>
							<td ng-model="auton[2]">{{energyAutonomous * auton[4] / 20 | number:1}} {{auton[6]}}</td>
							<td>{{auton[1] * energyAutonomous * auton[4] / 20 | number:1 | currencyUAH}}</td>
							<td>
                {{100-(auton[1] * energyAutonomous * auton[4] / 20 * 100/(energyAutonomous * energyAutonomousCost)) | number:1 | percent}}
                :
                {{energyAutonomous * energyAutonomousCost - auton[1] * energyAutonomous * auton[4] / 20 | number:0 | currencyUAH}}
              </td>
						</tr>
					</table>
          <h4>НЕЖИЛОЙ ФОНД: ПЕРЕХОД ОТ ГАЗА К АЛЬТЕРНАТИВНЫМ ЭНЕРГОНОСИТЕЛЯМ</h4>
          <div class="search__block__result-title">
            Расход газа за сезон:
          </div>
          <div class="commonRange">
            <input type="range" min="1000" max="300000" value="1000" step="500" ng-model="squareMetrAlt">
            <span class="title-parametre">
              {{squareMetrAlt/1000}} тысяч м<sup>3</sup>
            </span>
          </div>
          <table class="search__block__result__alternative-energy" cellspacing="0">
						<thead>
							<tr>
								<td>Вид топлива</td>
								<td>Стоимость</td>
								<td>Расход за сезон</td>
								<td>Стоимость за сезон</td>
								<td>Экономия за сезон</td>
							</tr>
						</thead>
            <tr>
							<td style="text-align: left">{{nameGas}}</td>
							<td><input type="number" value="" ng-model="valueFuel.gas[1]"> грн</td>
							<td>{{squareMetrAlt | number:1}}</td>
							<td>{{squareMetrAlt * valueFuel.gas[1] | number:1 | currencyUAH}} </td>
							<td>-</td>
						</tr>
						<tr ng-repeat="alter in valueFuel" ng-if="alter[0] != 'Газ'">
							<td style="text-align: left">{{alter[0]}}</td>
							<td><input type="number" value="" ng-model="alter[1]"> грн</td>
							<td ng-model="alter[2]">{{squareMetrAlt * alter[3] / defaultGas | number:1 }} {{alter[6]}}</td>
							<td>{{alter[1] * squareMetrAlt * alter[3] / defaultGas | number:0 | currencyUAH}}</td>
							<td>
                {{100-(alter[1] * squareMetrAlt * alter[3] / defaultGas*100/(squareMetrAlt * valueFuel.gas[1])) | number:1 | percent}}
                :
                {{squareMetrAlt * valueFuel.gas[1] - alter[1] * squareMetrAlt * alter[3] / defaultGas | number:0 | currencyUAH}}
              </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src='js-work/script.js'></script>
</body>
</html>
