 <!doctype html>
    <html>
<head>
  <link rel="stylesheet" href="styles/style.css" >
	<script
		src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
		crossorigin="anonymous"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app="app">
	<div class="main" ng-controller="mainCtrl">
		<div class="search__block">
			<div class="search__block__area">
				<div class="search__block__area-header">
					<span>Отапливаемая площадь: </span>
				</div>
				<div class="search__block__area-body">
					<div>
						<input type="range" min="25" max="500" value="25" ng-model="squareMetr">
            <span>{{squareMetr}}</span>
					</div>
				</div>
			</div>
			<div class="search__block__type-fuel">
				<div class="search__block__type-fuel-header">
					<span>Вид топлива:</span>
				</div>
				<div class="search__block__type-fuel-body">
					<ul class="search__block__type-fuel-type" ng-repeat="fuelType in valueFuel">
            <li>
              <label>{{fuelType[0]}}</label>
              <input type="checkbox" checked>
            </li>
					</ul>
				</div>
			</div>
			<div class="search__block__flat">
				<div class="search__block__flat-header">
					<span>Утепленность помещения:</span>
				</div>
				<div class="search__block__flat-body">
          <ul class="search__block__flat-type">
						<li>
              <label>
                <input type="radio" ng-model="flatFloorBlock.name" value="oneFloor" ng-click="updateWarmed()">1 этаж
              </label>
            </li>
						<li>
              <label>
                <input type="radio" ng-model="flatFloorBlock.name" value="twoFloor" ng-click="updateWarmed()">2 этажа
              </label>
            </li>
					</ul>
					<ul class="search__block__flat-type">
            <label>
              <li><input type="radio" ng-model="flatBlock.name" value="not-warmed" ng-click="updateWarmed()">Неутепленный</li>
            </label>
            <label>
              <li><input type="radio" ng-model="flatBlock.name" value="warmed" ng-click="updateWarmed()">Утепленный</li>
            </label>
            <label>
              <li><input type="radio" ng-model="flatBlock.name" value="modern" ng-click="updateWarmed()">Современный</li>
            </label>
					</ul>
				</div>
			</div>
			<div class="search__block__area-button">
				<button>Расчитать потребление</button>
			</div>
			<div class="search__block__result">
				<div class="search__block__result__costs-home">
					<table class="search__block__result__costs" cellspacing="0">
						<thead>
							<tr>
								<td>Вид топлива</td>
								<td>Стоимость</td>
								<td>Расход за сезон</td>
								<td>Стоимость за сезон</td>
							</tr>
						</thead>
						<tr ng-repeat="value in valueFuel">
							<td style="text-align: left">{{value[0]}}</td>
							<td><input type="number" value="" ng-model="value[1]"></td>
							<td ng-model="value[2]">{{value[2] * squareMetr / 25 | number:2}}</td>
							<td>{{value[1] * value[2] * squareMetr / 25 | number:1 | currencyUAH}}</td>
						</tr>
					</table>
          <h4>НЕЖИЛОЙ ФОНД: ПЕРЕХОД ОТ ТЕПЛОСЕТИ НА АВТОНОМНОЕ ТЕПЛОСНАБЖЕНИЕ</h4>
          <div class="commonRange">
            <input type="range" min="20" max="2000" step="10" value="20" ng-model="energyAutonomous" width="500px"> {{energyAutonomous}}
          </div>
          <table class="search__block__result__autonomous-heat" cellspacing="0">
						<thead>
							<tr>
								<td>Вид топлива</td>
								<td>Стоимость</td>
								<td>Расход за сезон</td>
								<td>Стоимость за сезон</td>
								<td>Экономия за сезон</td>
							</tr>
						</thead>
						<tr>
							<td style="text-align: left">Теплосети</td>
							<td></td>
							<td ng-model="costs">{{energyAutonomous}}</td>
							<td ng-model="costsValue">{{energyAutonomous * energyAutonomousCost | currencyUAH}}</td>
							<td>-</td>
						</tr>
						<tr ng-repeat="auton in valueFuel">
							<td style="text-align: left">{{auton[0]}}</td>
							<td><input type="number" value="" ng-model="auton[1]"></td>
							<td ng-model="auton[2]">{{energyAutonomous * auton[4] / 20 | number:2}}</td>
							<td>{{auton[1] * energyAutonomous * auton[4] / 20 | number:1 | currencyUAH}}</td>
							<td>
                {{100-(auton[1] * energyAutonomous * auton[4] / 20 * 100/(energyAutonomous * energyAutonomousCost)) | number:2 | percent}}
                :
                {{energyAutonomous * energyAutonomousCost - auton[1] * energyAutonomous * auton[4] / 20 | number:1 | currencyUAH}}
              </td>
						</tr>
					</table>
          <h4>НЕЖИЛОЙ ФОНД: ПЕРЕХОД ОТ ГАЗА К АЛЬТЕРНАТИВНЫМ ЭНЕРГОНОСИТЕЛЯМ</h4>
          <div class="commonRange">
            <input type="range" min="1000" max="300000" value="1000" step="500" ng-model="squareMetrAlt"> {{squareMetrAlt}}
          </div>
          <table class="search__block__result__alternative-energy" cellspacing="0">
						<thead>
							<tr>
								<td>Вид топлива</td>
								<td>Стоимость</td>
								<td>Расход за сезон</td>
								<td>Стоимость за сезон</td>
								<td>Экономия за сезон</td>
							</tr>
						</thead>
            <tr>
							<td style="text-align: left">{{nameGas}}</td>
							<td><input type="number" value="" ng-model="costGas"></td>
							<td>{{squareMetrAlt | number:2}}</td>
							<td>{{squareMetrAlt * costGas | number:1 | currencyUAH}} </td>
							<td>-</td>
						</tr>
						<tr ng-repeat="alter in valueFuel" ng-if="$index > 0">
							<td style="text-align: left">{{alter[0]}}</td>
							<td><input type="number" value="" ng-model="alter[1]"></td>
							<td ng-model="alter[2]">{{squareMetrAlt * alter[3] / defaultGas | number:2 }}</td>
							<td>{{alter[1] * squareMetrAlt * alter[3] / defaultGas | number:1 | currencyUAH}}</td>
							<td>
                {{100-(alter[1] * squareMetrAlt * alter[3] / defaultGas*100/(squareMetrAlt * costGas)) | number:2 | percent}}
                :
                {{squareMetrAlt * costGas - alter[1] * squareMetrAlt * alter[3] / defaultGas | number:1 | currencyUAH}}
              </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src='js-work/script.js'></script>
</body>
</html>
